<h1 class="text-3xl font-bold"> Tasks </h1> 

<div class="mb-1">
    <% unless @tasks.empty? %>
        <% @tasks.each do |task| %>
            <div class="p-2 mb-1 border-solid border-2 rounded-md">
                <%= link_to task.title, task_path(task.id), class: "link text-lg" %>
                <div class="text-sm italic">
                <% if task.done? %>
                    <span> Done </span>
                <% else %>
                    <span> Not done </span>
                <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        <h2> No tasks yet. </h2>
    <% end %>
</div>

<%= button_to "Add a task", new_task_path, method: "get", class: "btn-primary w-full"%>